body {
    -webkit-font-smoothings: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    font-family: Avenir !important;
  }
  h1 {
      font-family: helvetica neue;
  }
  h2, h3,
  h4, h5, h6 {
      font-family: helvetica neue !important;
  }

  a {
      font-family: Avenir !important;
  }

  
  code {
    padding: 2px 4px;
    font-size: 90%;
    background-color: #eeeeee;
    /* border-radius: 4px; */
  }
  
  pre {
    display: block;
    padding: 0px;
    margin: 0 0 10px;
    line-height: 1.4;
    word-break: break-all;
    word-wrap: break-word;
    border: 0px solid #ccc;
    /* border-radius: 4px; */
  }
  
  pre,
  code {
    font-family: 'Courier New', Courier, monospace;
    -webkit-font-smoothings: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  
blockquote {
  background-color: lightgoldenrodyellow;
  font-style: italic ;
}

table {
  margin-bottom: 1rem;
  border: 1px solid;
  border-collapse: collapse;
}

td {
  border: 1px solid;
  padding: 0.75rem;
}
